/* *****commons***** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 70%;
    margin: auto;
}

p{
    line-height: 25px;
}

/* proprietà float */

.clearfix::after{
    content: " ";
    clear: both;
    display: table;
}

.left{
    float: left;
}

.right{
    float: right;
}

/* proprietà botton */

.btn{
    font-weight: 400;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 2em;
}

.btn_white{
    color: black;
    background-color: white;
}

.btn_black{
    color: white;
    background-color: #23272a;
}

.btn_violet{
    color: white;
    background-color: #5865F2;
}

.btn_white:hover{
    color: #6C73F2;
    box-shadow: 1px 1px 10px #090808;
    transition: 0.2s;
}

.btn_black:hover{
    background-color: #36393F;
    box-shadow: 1px 1px 10px #090808;
    transition: 0.2s;
}

.btn_violet:hover{
    background-color: #7983F5;
    box-shadow: 1px 1px 10px #090808;
    transition: 0.2s;
}
/* *****header***** */

header{
    height: 80px;
    line-height: 80px;
    background-color: #3161e0;
}

/* proprietà logo */

.logo_img{
    width: 20%;
}

header .logo_img img{
    vertical-align: middle;
    cursor: pointer;
}

/* proprietà barra di navigazione */

header nav{
    width: 60%;
    text-align: center;
}

header nav li{
    display: inline-block;
    margin: 0 15px;
}

header li a{
    color: white;
    font-weight: 400;
    text-decoration: none;
}

header li a:hover{
    color: white;
    text-decoration: underline;
}

/* proprietà bottone enter*/

header .enter{
    width: 20%;
    text-align: right;
}

header .btn{
    font-size: 15px;
}

/* *****sezione jumbotron***** */

#jumbotron{
    height: 540px;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    margin-bottom: 100px;
}

#jumbotron .container{
    height: 100%;
    position: relative;
}

.jumbo_text{
    width: 60%;
    text-align: center;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jumbo_text h1{
    font-size: 50px;
}

.jumbo_text p{
    margin: 30px;
    
}

.jumbo_botton .btn{
    padding: 10px 25px;
    margin: 0 10px;
}

.jumbo_botton .btn i{
    margin-right: 10px;
}

/* *****main***** */

main section{
    margin-bottom: 150px;
}

section .main_img{
    width: 60%;
}

section .main_img img{
    width: 90%;
}

section h2{
    font-size: 35px;
    margin-bottom: 20px;
}

section .main_text{
    width: 40%;
    padding: 40px 100px;
}

/* quarta sezione Tecnologia affidabile */

.fourth_section .main_text{
    width: 85%;
    text-align: center;
    margin: auto;
    padding: 0;

}

.fourth_section .main_img{
    width: 100%;
}

.fourth_section .main_img img{
    width: 100%;
}

.star{
    width: 50%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background-image: url('../img/stars.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}

.star h3{
    font-size: 30px;
}

.star .btn{
    padding: 10px 25px;
}

/* *****footer***** */

footer{
    width: 100%;
    background-color: #23272a;
}

.top_footer{
    padding-top: 50px;
    border-bottom: 1px solid #4a5882;
}

.top_footer .connections{
    width: 250px;
}

.top_footer .connections h3{
    color: #7983F5;
    font-size: 30px;
}

/* proprietà tendina scelta linguaggio */
.top_footer .languages{
    height: 50px;
    line-height: 50px;
}

.top_footer .languages img{
    width: 25px;
    vertical-align: middle;
    cursor: pointer;
}

.top_footer .languages select{
    color: white;
    background-color: #23272a;
    font-size: 12px;
    border-style: none;
    vertical-align: middle;
    cursor: pointer;
}

/* proprietà icone social */

.top_footer .content_social i{
    color: white;
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
}

/* proprietà lista nav footer */

.top_footer nav{
    width: calc((100% - 250px) / 4 );
    padding: 5px 5px 20px 10px;
}

.top_footer nav li:first-child{
    color: #7983F5;
}

.top_footer nav li{
    list-style: none;
    margin-bottom: 8px;
}

.top_footer nav a{
    text-decoration: none;
    color: white;
}

.top_footer nav a:hover{
    text-decoration: underline;
}

/* proprietà bottom footer */

.bottom_footer{
    line-height: 34px;
    margin-top: 30px;
}

.bottom_footer .logo_img{
    cursor: pointer;
}





/* *****debug***** */

/* .debug .container{
    height: 100%;
    border: 2px solid black;
} */

/* .debug header{
    background-color: lightgreen;
} */

/* .debug #jumbotron{
    background-color: aqua;
} */

/* .debug main{
    height: 1000px;
    background-color: hotpink;
} */

/* .debug section{
    height: 500px;
    background-color: grey;
    border: 1px solid black
} */

/* .debug footer{
    height: 400px;
    background-color: green;
} */

/* .debug .connections{
    height: 300px;
    background-color: yellow;
    border: 1px solid black;
} */

/* .debug .top_footer nav{
    
    height: 300px;
    background-color: black;
    border: 1px solid green;
} */

/* .debug .bottom_footer{
    width: 100%;
    height: 80px;
    background-color: yellowgreen;
} */