/* *****commons***** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

.container{
    width: 70%;
    margin: auto;
}

.clearfix::after{
    content: " ";
    clear: both;
    display: table;
}

.float_left{
    float: left;
}

.float_right{
    float: right;
}

/* *****header***** */

header{
    height: 80px;
}

/* proprietà logo */

.logo{
    width: 20%;
}

/* proprietà barra di navigazione */

header nav{
    width: 60%;
    text-align: center;
}

header nav li{
    display: inline-block;
}

/* proprietà bottone */

header .btn{
    width: 20%;
    text-align: right;
}

/* *****sezione jumbotron***** */

#jumbotron{
    height: 600px;
}

/* *****main***** */

/* *****footer***** */

/* *****debug***** */

.debug .container{
    height: 100%;
    border: 2px solid black;
}

.debug header{
    background-color: aquamarine;
}

.debug #jumbotron{
    background-color: aqua;
}

.debug main{
    height: 1000px;
    background-color: hotpink;
}

.debug footer{
    height: 400px;
    background-color: green;
}